*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Cyan: hsl(179, 62%, 43%);
  --Cyan-2: hsl(179, 62%, 43%);

  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);

  --font-family-1: "Karla", sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--font-family-1);
  background-color: var(--Light-Gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.row1 {
  background-color: white;
  padding: 40px 60px 40px 30px;
}

.row2 {
  display: flex;
  background-color: var(--Cyan);
}
.colum1{
    flex: 50%;
    padding: 40px
}
.colum1 p {
    color: white;
}
.colum1 span{
    color: var(--Light-Gray);
}
.colum2{
    flex: 50%;
    padding: 40px;
    background-color: hsl(179deg 50.34% 50.27%);

}
.heading1 {
  color: var(--Cyan);
  font-weight: bold;
  font-size: 20px;
}
.heading2 {
  color: var(--Bright-Yellow);
  font-weight: bold;
  font-size: 15px;
  margin-top: 8px;
}
.contain1 {
  color: var(--Grayish-Blue);
  font-size: 13px;
  margin-top: 10px;
}
.contain2 {
  color: var(--Grayish-Blue);
  font-size: 13px;
  margin-top: 2px;
}
.rupees{
    font-size: 25px;
    display: flex;
    /* justify-content: center; */
    gap: 10px;
    margin-top: 4px;

}
.rupees span{
    font-size: 12px;
    display: flex;
    font-weight: 100;
    gap: 10px;
    align-self: center;
    opacity: 65%;
  
}
.btn{
     background-color: var(--Bright-Yellow);
     border: none;
     padding: 10px 40px;
     width: 100%;
     border-radius: 6px;
     margin-top: 25px;
     color: white;
     font-size:15px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.paregarph{
    font-size:12px;
    color: rgb(229 229 229) !important;
    font-weight: 100px;
    margin-top: 4px;

}
.colum2 p {
    color: white;
}
li {
    color: hsl(204deg 6.4% 86.52%);
    font-size: 12px;
    font-weight: inherit;
}
ul {
    margin-top: 10px;

}

@media (max-width: 542px) {
    .row2{
        display: flex;
        flex-direction: column;
    }
    body{
        padding: 10px;
    }
}